@font-face
  font-family: Klavika
  src: url(../font/klavika-regular-webfont.woff) format('woff')

@font-face
  font-family: Klavika
  src: url(../font/klavika-light-webfont.woff) format('woff')
  font-weight: 300

@font-face
  font-family: Klavika
  src: url(../font/klavika-medium-webfont.woff) format('woff')
  font-weight: 500

@font-face
  font-family: Klavika
  src: url(../font/klavika-bold-webfont.woff) format('woff')
  font-weight: 700

html, body
  height: 100vh
  width: 100vw
  margin: 0
  padding: 0
  background-color: black
  color: white
  font-family: Klavika, sans-serif

#app
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
