.loading-page
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center
  animation: stretch .25s ease-out
  &__wrapper
    position: relative
    &__cloud
      position: absolute
      top: 50%
      left: 40%
      border-radius: 50%
      background: white
      box-shadow: 0px 0px 20px 30px rgba(255,255,255,0.22)
      animation: cloud 3s ease-out forwards
    &__monk
      animation: levitation 2s ease-out infinite
  &__text
    margin-top: 1em
    font-style: italic
    transform: scale(0)
    animation: reveal 0.2s forwards
    animation-delay: 0.3s
    position: relative
    &__holder
      transform: translateX(25%)
    &--patience
      position: absolute
      left: 0
      animation: slide-left .2s forwards
      animation-delay: 1s
    &--padawan
      transform: translateX(-100%)
      animation: slide-right .2s forwards
      animation-delay: 1.2s

  .overflow-hidden
    overflow: hidden

@keyframes slide-left
  0%
    transform: translateX(0)
  100%
    transform: translateX(-100%)

@keyframes slide-right
  0%
    transform: translateX(-100%)
  100%
    transform: translateX(0)

@keyframes stretch
  0%
    transform: scale(0)
  100%
    transform: scale(1)

@keyframes cloud
  0%
    box-shadow: 0px 0px 25px 25px rgba(255,255,255,0.22)
  20%
    box-shadow: 0px 0px 27px 29px rgba(255,255,255,0.22)
  40%
    box-shadow: 0px 0px 29px 28px rgba(255,255,255,0.22)
  60%
    box-shadow: 0px 0px 30px 30px rgba(255,255,255,0.22)
  80%
    box-shadow: 0px 0px 29px 27px rgba(255,255,255,0.22)
  100%
    box-shadow: 0px 0px 30px 30px rgba(255,255,255,0.22)

@keyframes levitation
  0%, 100%
    transform: translate(0, 0)
  50%
    transform: translate(0, -1em)

@keyframes reveal
  0%
    transform: scale(0)
  50%
    transform: scale(1.4)
  70%
    transform: scale(1)
  90%
    transform: scale(1.2)
  100%
    transform: scale(1)
