.main-page
  position: fixed
  height: 100vh
  width: 100vw
  overflow: hidden
  opacity: 0

.page-arrow
  position: absolute
  top: 0
  bottom: 0
  display: flex
  flex-direction: column
  justify-content: center
  font-family: Klavika, sans-serif
  font-size: 5em
  padding: 5px
  cursor: pointer
  user-select: none

#main-page-img-container
  position: absolute
  top: 0
  bottom: 0
  left: 0
#main-page-img
  height: 100%
  transform: translateX(0)
  transition: transform 1s
#next-page
  right: 0

#prev-page
  left: 0

.left-bottom-corner
  position: absolute
  bottom: 10%
  left: 5%
  display: flex
  align-items: center

.fade-in
  opacity: 1
  transition: opacity 1s
.fade-out
  opacity: 0
  transition: opacity .5s

.title
  display: flex
  flex-direction: column
  align-items: flex-start
  text-transform: uppercase
  font-size: 3.5em
  letter-spacing: 1px
  &__line
    line-height: 3rem
    border-bottom: 1px solid #ffffff
    margin-bottom: 1rem

#big-text
  position: fixed
  width: 100vw
  height: 100vh
