#pagination
  display: flex
  .page-link
    padding: 8px
    min-width: 1em
    min-height: 1em
    text-align: center
    border: 2px white dotted
    border-left: 0
    cursor: pointer
    user-select: none
    &:hover
      background-color: rgba(255, 255, 255, 0.3)
    &:first-child
      border-left: 2px white dotted
  .active-link
    background-color: white

#step-description
  margin-left: 2em
